.banner-img {
    height: 650px;
    /* background-color: rgb(8, 8, 8);
    opacity: 0.8; */
}

.overlay {
    position: absolute;
    top: 0;
    height: 650px;
    background-color: black;
    width: 100%;
    opacity: 0.6;
}

@media only screen and (max-width: 767px) {
    .banner-head {
        font-size: 42px;
    }
}