@media only screen and (max-width: 1023px) {
    .content {
        text-align: center;
    }
}


@media only screen and (max-width: 767px) {
    .content {
        text-align: center;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .content {
        text-align: center;
    }
}

@media only screen and (max-width: 639px) {
    .count {
        padding-top: 5%;
    }

    .content {
        font-size: 25px;
    }
}